a { color:black;
	}
a:visited { text-decoration:none;
			}
a:hover { text-decoration:underline;
		  }
a:active { text-decoration:none;
		   }

p {font-family:"Allerta", Times, serif;
}

#top{
	font-size: 60px;
    text-align:center;
   	padding: 3px 25px 10px 50px;
   	margin-top: 75px;
   	margin-bottom: 50px;


	/*animation: myfirst 6s;
	-webkit-animation:myfirst 6s; /* Safari and Chrome */
    }
 	@keyframes myfirst{
	from {color:#000000;}
	to {color:#CCEBFF;}
	}

	/*@-webkit-keyframes myfirst /* Safari and Chrome */
	{
	from {color:#000000;}
	to {background:#CCEBFF;}}
	
#pic1{
	margin-top:75px;
	border: solid 4px;
	border-radius: 10px;
	}

.container{
	margin-top: 0px;
}

#pic2, #pic3, #pic4 {
	margin-top: 100px;
	margin-left:50px;
	border: solid 4px;
	border-radius: 10px;
	}   

#main {
	margin-top: 75px;
	margin-right:60px;
	margin-left:60px;
	}

.masthead{
	margin-top: 75px;
}

li > a{
	color:black;
}

.nav{
  
  display:inline-block;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  font-size: 23px;
}
		
#on > a { 
	color:white;
	background-color: black;
	border-radius: 10px;
	}

}
#img {
    position: relative;
    top: 10px;
    left: 10px;
    }
    
#about{
	font-size: 40px;
	text-align: center;
	margin-top: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

.transbox{
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 80px;
	background-color: #eee;
	padding: 10px 30px;
	box-shadow: 0px 9px 5px 5px #888888;
	padding-left: 80px;
	padding-right: 50px;
	border-radius: 10px;
}

#res {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 75px;
	border-radius: 10px;
}

#header{
	border: solid;
	padding: 20px 25px 50px 50px;
	background-color: #666;
	text-align: center;
	clear:both;
	top:50px;
	border-radius: 10px;
	}

#table{
	margin-right:auto;
	margin-left:auto;	
	}
	
#about_me, #center{
	background-color: #C0C0C0;
	border:solid 3px #c3c3c3;
	text-align: left;
	border-radius: 10px;
	}

#center{
	display: none;
	background-color: #eee;
	text-align: left;
	/*height:230px;*/
	}
	
#work, #work2{
	background-color: #C0C0C0;
	border:solid 3px #c3c3c3;
	text-align: left;
	border-radius: 10px;
	}

#work2{
	padding: 50px;
	display: none;
	background-color: #eee;
	text-align: left;
	}
	
#education, #education2 {
	background-color: #C0C0C0;
	border:solid 3px #c3c3c3;
	text-align: left;
	border-radius: 10px;
	}

#education2{
	padding: 50px;
	display: none;
	background-color: #eee;
	text-align: left;
	}

#sites {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 75px
	}
	
#contact{
	margin-left:470px;
	margin-top: 75px;
}

.connect{
	float: left;
	margin-left: 50px;
	width: 50px;
	display:inline-block;
}


#footer{
	font-family: arial;
	font-size: 15px;
	text-align: center;
	margin-top:700px;
}

#form span {
	border-radius: 20px;
	margin-left:15px;
	padding: 8px 35px;
	background: black;
	color: white;
}

#form span.valid {
	background-color :#c0ce51;
	color: black;
}

#form span.error {
	background-color:#b0240f;
	color: black;
}